
beautifulsoup4==4.13.4
cachetools==5.5.2
certifi==2025.4.26
cffi==1.16.0
charset-normalizer==3.4.2
colorama==0.4.6
cryptography==41.0.7
dj-database-url==3.0.1
Django==4.2.9
django-reset-migrations==0.4.0
docopt==0.6.2
et_xmlfile==2.0.0
flatbuffers==25.2.10
gast==0.4.0
google-auth==2.40.2
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.71.0
gunicorn==21.2.0
numpy==1.23.5
oauthlib==3.2.2
opt_einsum==3.4.0
packaging==23.2
platformdirs==4.3.8
protobuf==4.25.7
psycopg2==2.9.9
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.21
pypng==0.20220715.0
python-decouple==3.8
pywin32==311
requests-file==2.1.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rsa==4.9.1
scipy==1.15.3
six==1.17.0
soupsieve==2.7
sqlparse==0.4.4
termcolor==3.1.0
whitenoise==6.6.0
wrapt==1.14.1
