{% for todo in todos %}
<tr>
    <td class="w-25">{{todo.title}}</td>
    <td class="w-20">
        <div>
            <span>Pending</span>
            <div class="progress" style="height: 6px">
                <div class="progress-bar bg-warning" style="width: 50%"></div>
            </div>
        </div>
    </td>
    <td class="w-20">
        <span>{{todo.dateCreated | timesince}} ago</span>
    </td>
    <td class="w-30">
        
        <span data-toggle="modal" onclick="GetTodoById(event, '{{todo.id}}', 'view')">
            <button class="btn btn-light btn-sm" data-toggle="tooltip" data-trigger='hover' data-placement="top" title="Click to View Todo details">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#0000FF" class="bi bi-eye" viewBox="0 0 16 16">
                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                  </svg>
            </button>           
        </span>

        <span data-toggle="modal">
            <button class="btn btn-light btn-sm" data-toggle="tooltip" onclick="GetTodoById(event, '{{todo.id}}')" data-placement="top" title="Click to Edit Todo">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#FFBF00" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                  </svg>
                </span>
            </button>      
        </span>
       
        <span data-toggle="modal">
        <button class="btn btn-light btn-sm" data-trigger='hover' onclick="DeleteTodo(event, '{{todo.id}}')" data-toggle="tooltip" data-placement="top" title="Click to Delete Todo">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#FF0000" class="bi bi-trash3" viewBox="0 0 16 16">
                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                  </svg>
            </span>
        </button>
    </span>


    <span data-toggle="modal">
        <button id="completedBtnId" data-trigger='hover' class="btn btn-light btn-sm" onclick="CompleteTodo(event, '{{todo.id}}')" data-toggle="tooltip" data-placement="top" title="Click to Complete Todo"   >
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#00FF00" class="bi bi-check2-square" viewBox="0 0 16 16">
                    <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5z"/>
                    <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0"/>
                  </svg>
            </span>
        </button>
    </span>
        <!-- <span><button class="btn btn-success btn-sm" onclick="CompleteTodo(event, '{{todo.id}}')" >Complete</button></span> -->
    </td>
</tr>
{% endfor %}