{% extends 'base.html' %}

{% block content %}
<input type="text" value="completed" id="completionSearchId" hidden>
    <!-- The Completed Todo details Modal Contents -->
    <div id="viewCompletedTodoFormId">
        
    </div>
    <!-- End The Completed Todo details Modal Contents -->

<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-lg-3 col-sm-6">
            <div class="card gradient-1">
                <div class="card-body">
                    <h3 class="card-title text-white">Completed Todos</h3>
                    <div class="d-inline-block">
                        <h2 class="text-white">{{completedTodosAmount}}</h2>
                    </div>
                    <span class="float-right display-5 opacity-5"><i class="fa fa-check-circle"></i></span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card gradient-2">
                <div class="card-body">
                    <h3 class="card-title text-white">Pending Todos</h3>
                    <div class="d-inline-block">
                        <h2 class="text-white">{{pendingTodosAmount}}</h2>
                    </div>
                    <span class="float-right display-5 opacity-5"><i class="fa fa-list-ol"></i></span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card gradient-3">
                <div class="card-body">
                    <h3 class="card-title text-white">Total Todos</h3>
                    <div class="d-inline-block">
                        <h2 class="text-white">{{totalTodosAmount}}</h2>
                    </div>
                    <span class="float-right display-5 opacity-5"><i class="fa fa-list-alt"></i></span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card gradient-4">
                <div class="card-body">
                    <h3 class="card-title text-white">Completion Rate</h3>
                    <div class="d-inline-block">
                        <h2 class="text-white">{{completionRate}}%</h2>
                    </div>
                    <span class="float-right display-5 opacity-5"><i class="fa fa-percent"></i></span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="active-member">
                        <div class="table-responsive">
                            <table class="table table-xs mb-0">
                                <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Status</th>
                                        <th>Date Completed</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if totalTodosAmount > 0 %}
                                        {% for todo in todos %}
                                        <tr>
                                            <td>{{todo.title}}</td>
                                            <td>
                                                <div>
                                                    <span>Completed</span>
                                                    <div class="progress" style="height: 6px">
                                                        <div class="progress-bar bg-success" style="width: 100%"></div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <span >{{todo.dateCompleted}}</span>
                                            </td>                                        
                                            <td>
                                                <span data-toggle="modal" onclick="GetCompletedTodoDetailsById(event, '{{todo.id}}')">
                                                    <button class="btn btn-light btn-sm" data-toggle="tooltip" data-trigger='hover' data-placement="top" title="Click to View Todo details">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#0000FF" class="bi bi-eye" viewBox="0 0 16 16">
                                                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                                                        </svg>
                                                    </button>           
                                                </span>
                                            </td>
                                        </tr>
                                        {% endfor %}

                                    {% endif %}
                               
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>                        
        </div>
    </div>
    </div>

{% endblock %}