
{% extends 'authentication.html' %}

{% block authContent %}
<h1>Reset Password</h1>
{% if email %}
    <input type="text" value="{{email}}" id="emailResetId" hidden />
  {% endif %}
  
<form onsubmit="recoverPassword(event)" id="resetPasswordFormId">
  {% csrf_token %}

<div class="form-group">
  <input id="resetPaswwordId" name="resetPassword" class="form-control _ge_de_ol" type="password" placeholder="Enter New Passsword" required aria-required="true">
</div>

<div class="form-group">
  <input id="confirmResetPasswordId" name="confirmResetPaswword" class="form-control _ge_de_ol" type="password" placeholder="Confirm New Password" required aria-required="true">
</div>

  <div class="form-group">
    <div class="btn_uy">
      <button type="submit" class="btn btn-success btn-lg w-100" id="resetBtnId">
          <span class="button__text">Reset</span>
      </button>
    </div>
  </div>

</form>

{% endblock %}